version: '3.9'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver
    ports:
      - "1433:1433"
    environment:
      SA_PASSWORD: "Sql@2026GovTechGithub"
      ACCEPT_EULA: "Y"
    volumes:
      - ./sql-scripts:/scripts
      - sql_data:/var/opt/mssql
    restart: unless-stopped

volumes:
    sql_data:
